.problem-container{
    padding: 3rem 12rem 1rem;
}

.problem-container .container{
    padding: 3rem 12rem 11.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.4rem;
    background: var(--degrade);
    border-radius: 4.4rem;
}

.problem-container .text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}

.problem-container .problem-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.problem-container .title{
    font-size: 4.8rem;
    font-weight: 900;
    color: var(--text);
}

.problem-container .title span{
    color: var(--primary);
}

.problem-container .subtitle{
    font-size: 2rem;
    font-weight: 500;
    color: var(--subtext);
    max-width: 80.8rem;
}

.problem-container .problems-container{
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    justify-content: space-between;
}

.problem-container .card-container{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 33.4rem;
}

.problem-container .card-title{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.problem-container .card-description{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--subtext);
    text-align: center;
}

@media (max-width: 1200px) {
    .problem-container{
        padding: 3rem 5rem;
    }

    .problem-container .container{
        padding: 3rem 5rem 8rem;
    }

    .problem-container .title{
        font-size: 3.6rem;
    }

    .problem-container .subtitle{
        font-size: 1.6rem;
    }

    .problem-container .problems-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .problem-container{
        padding: 1rem;
    }

    .problem-container .container{
        padding: 3rem 1rem 6.4rem;
    }

    .problem-container .title{
        font-size: 3.2rem;
    }

    .problem-container .subtitle{
        font-size: 1.6rem;
    }

    .problem-container .card-container{
        padding: 2.4rem 0;
    }
}