/* [project]/src/styles/problem.css [app-client] (css) */
.problem-container {
  padding: 3rem 12rem 1rem;
}

.problem-container .container {
  background: var(--degrade);
  border-radius: 4.4rem;
  flex-direction: column;
  justify-content: center;
  gap: 4.4rem;
  padding: 3rem 12rem 11.2rem;
  display: flex;
}

.problem-container .text-content {
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.problem-container .problem-text {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.problem-container .title {
  color: var(--text);
  font-size: 4.8rem;
  font-weight: 900;
}

.problem-container .title span {
  color: var(--primary);
}

.problem-container .subtitle {
  color: var(--subtext);
  max-width: 80.8rem;
  font-size: 2rem;
  font-weight: 500;
}

.problem-container .problems-container {
  flex-direction: row;
  justify-content: space-between;
  gap: 2.4rem;
  display: flex;
}

.problem-container .card-container {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 33.4rem;
  padding: 2.4rem;
  display: flex;
}

.problem-container .card-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.problem-container .card-description {
  color: var(--subtext);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (width <= 1200px) {
  .problem-container {
    padding: 3rem 5rem;
  }

  .problem-container .container {
    padding: 3rem 5rem 8rem;
  }

  .problem-container .title {
    font-size: 3.6rem;
  }

  .problem-container .subtitle {
    font-size: 1.6rem;
  }

  .problem-container .problems-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 768px) {
  .problem-container {
    padding: 1rem;
  }

  .problem-container .container {
    padding: 3rem 1rem 6.4rem;
  }

  .problem-container .title {
    font-size: 3.2rem;
  }

  .problem-container .subtitle {
    font-size: 1.6rem;
  }

  .problem-container .card-container {
    padding: 2.4rem 0;
  }
}


/* [project]/src/styles/header.css [app-client] (css) */
.header {
  background-image: url("/background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.header .text-content {
  text-align: center;
  flex-direction: column;
  gap: 1.6rem;
  display: flex;
}

.header .title {
  letter-spacing: -.03rem;
  font-size: 6.4rem;
  font-weight: 900;
}

.header .subtitle {
  color: var(--subtext);
  max-width: 83.6rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.header .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 12rem;
  display: flex;
}

.demo-button {
  weight: 500;
  text-shadow: 0 0 1.54rem #fff;
  color: var(--text);
  cursor: pointer;
  background-color: #d9d9d929;
  border: 1px solid #b0b0b0;
  border-radius: 20rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  transition: all .2s ease-in-out;
}

.header .container {
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  padding: 11.2rem 20.7rem 23.1rem;
  display: flex;
}

.header .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  display: flex;
}

.header .header-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width <= 1200px) {
  .header .title {
    font-size: 5.6rem;
  }

  .header .subtitle {
    font-size: 2rem;
  }

  .header .navbar {
    padding: 1.2rem 5rem;
  }

  .header .container {
    padding: 10rem 5rem;
  }

  .header .header-image {
    width: 100%;
    height: 100%;
  }
}

@media (width <= 768px) {
  .header .title {
    font-size: 4rem;
  }

  .header .subtitle {
    font-size: 1.6rem;
  }

  .header .navbar {
    padding: 4rem 1rem 1.2rem;
  }

  .header .demo-button {
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
  }

  .header .container {
    padding: 7rem 1rem;
  }
}


/*# sourceMappingURL=src_styles_8a845bb4._.css.map*/