/* [project]/src/styles/problem.css [app-client] (css) */
.problem-container {
  padding: 3rem 12rem 1rem;
}

.problem-container .container {
  background: var(--degrade);
  border-radius: 4.4rem;
  flex-direction: column;
  justify-content: center;
  gap: 4.4rem;
  padding: 3rem 12rem 11.2rem;
  display: flex;
}

.problem-container .text-content {
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.problem-container .problem-text {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.problem-container .title {
  color: var(--text);
  font-size: 4.8rem;
  font-weight: 900;
}

.problem-container .title span {
  color: var(--primary);
}

.problem-container .subtitle {
  color: var(--subtext);
  max-width: 80.8rem;
  font-size: 2rem;
  font-weight: 500;
}

.problem-container .problems-container {
  flex-direction: row;
  justify-content: space-between;
  gap: 2.4rem;
  display: flex;
}

.problem-container .card-container {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 33.4rem;
  padding: 2.4rem;
  display: flex;
}

.problem-container .card-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.problem-container .card-description {
  color: var(--subtext);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (width <= 1200px) {
  .problem-container {
    padding: 3rem 5rem;
  }

  .problem-container .container {
    padding: 3rem 5rem 8rem;
  }

  .problem-container .title {
    font-size: 3.6rem;
  }

  .problem-container .subtitle {
    font-size: 1.6rem;
  }

  .problem-container .problems-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 768px) {
  .problem-container {
    padding: 1rem;
  }

  .problem-container .container {
    padding: 3rem 1rem 6.4rem;
  }

  .problem-container .title {
    font-size: 3.2rem;
  }

  .problem-container .subtitle {
    font-size: 1.6rem;
  }

  .problem-container .card-container {
    padding: 2.4rem 0;
  }
}


/* [project]/src/styles/header.css [app-client] (css) */
.header {
  background-image: url("/background-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.header .text-content {
  text-align: center;
  flex-direction: column;
  gap: 1.6rem;
  display: flex;
}

.header .title {
  letter-spacing: -.03rem;
  font-size: 6.4rem;
  font-weight: 900;
}

.header .subtitle {
  color: var(--subtext);
  max-width: 83.6rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.header .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 12rem;
  display: flex;
}

.demo-button {
  weight: 500;
  text-shadow: 0 0 1.54rem #fff;
  color: var(--text);
  cursor: pointer;
  background-color: #d9d9d929;
  border: 1px solid #b0b0b0;
  border-radius: 20rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  transition: all .2s ease-in-out;
}

.header .container {
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  padding: 11.2rem 20.7rem 23.1rem;
  display: flex;
}

.header .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  display: flex;
}

.header .header-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width <= 1200px) {
  .header .title {
    font-size: 5.6rem;
  }

  .header .subtitle {
    font-size: 2rem;
  }

  .header .navbar {
    padding: 1.2rem 5rem;
  }

  .header .container {
    padding: 10rem 5rem;
  }

  .header .header-image {
    width: 100%;
    height: 100%;
  }
}

@media (width <= 768px) {
  .header .title {
    font-size: 4rem;
  }

  .header .subtitle {
    font-size: 1.6rem;
  }

  .header .navbar {
    padding: 4rem 1rem 1.2rem;
  }

  .header .demo-button {
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
  }

  .header .container {
    padding: 7rem 1rem;
  }
}


/* [project]/src/styles/final-content.css [app-client] (css) */
.final-content {
  background-image: url("/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 11.2rem 12rem 11.7rem;
}

.final-content .container {
  flex-direction: column;
  align-items: center;
  gap: 4.4rem;
  padding: 0 6rem 11.2rem;
  display: flex;
}

.final-content .text-content {
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  display: flex;
}

.final-content .problem-text {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.final-content .title {
  color: var(--text);
  font-size: 4.8rem;
  font-weight: 900;
}

.final-content span {
  color: var(--primary);
}

.final-content .subtitle {
  color: var(--subtext);
  max-width: 93.8rem;
  font-size: 2rem;
  font-weight: 500;
}

.solutions-cards {
  flex-flow: wrap;
  justify-content: center;
  gap: 2.4rem;
  padding: 1rem 1.6rem;
  display: flex;
}

.solution-card {
  background: var(--card-background);
  border: .1rem solid var(--card-border);
  border-radius: 2.4rem;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
  padding: 3rem;
  transition: all .3s;
  display: flex;
}

.solution-card:hover {
  background-color: var(--card-background-hover);
  box-shadow: 0 0 1rem #0000001a;
}

.solution-title {
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 900;
}

.solution-description {
  color: var(--subtext);
  font-size: 1.4rem;
  font-weight: 500;
}

.send-email-container {
  background: var(--card-background);
  border: .1rem solid var(--card-border);
  border-radius: 4.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 9.5rem;
  padding: 10rem 0;
  display: flex;
}

.title-content {
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  display: flex;
}

.send-email-container .subtitle {
  text-align: center;
  max-width: 81.2rem;
}

.send-email-container .email-input {
  padding-right: 37rem;
}

.input-email-content {
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  display: flex;
}

.input-email-content p {
  color: var(--subtext);
  font-size: 1.2rem;
  font-weight: 500;
}

@media (width <= 1200px) {
  .final-content {
    background-image: url("/background-mobile.svg");
    padding: 7rem 5rem;
  }

  .final-content .container {
    padding: 3rem 5rem 8rem;
  }

  .final-content .title {
    font-size: 3.6rem;
  }

  .final-content .subtitle {
    font-size: 1.6rem;
  }

  .send-email-container {
    margin-top: 8rem;
    padding: 8rem 4rem;
  }
}

@media (width <= 768px) {
  .final-content {
    padding: 6.4rem 1rem;
  }

  .final-content .container {
    padding: 3rem 1rem 6.4rem;
  }

  .final-content .title {
    font-size: 3.2rem;
  }

  .final-content .subtitle {
    font-size: 1.6rem;
  }

  .send-email-container {
    gap: 3rem;
    padding: 5.6rem 1rem;
  }

  .send-email-container .title {
    text-align: center;
  }

  .input-email-content {
    width: 100%;
  }

  .send-email-container .email-input {
    padding-right: 0;
  }

  .send-email-container {
    margin-top: 5rem;
  }
}


/* [project]/src/styles/footer.css [app-client] (css) */
.footer {
  border-top: 1px solid var(--card-border);
  background-color: var(--background);
  justify-content: center;
  align-items: center;
  padding: 2.4rem 12rem;
  display: flex;
}

.footer-content {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.footer-content p {
  color: var(--text);
  font-size: 1.2rem;
}

.footer-content a {
  color: var(--primary);
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

@media (width <= 768px) {
  .footer {
    padding: 2.4rem 1rem;
  }

  .footer-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}


/*# sourceMappingURL=src_styles_ed9500cf._.css.map*/