html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-mulish), sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}

:root {
  --background: #0D0D0D;
  --text: #F2F2F2;
  --subtext: #B0B0B0;
  --primary: #5151E5;
  --primary-lower:rgba(58, 58, 205, 0.1);
  --degrade: linear-gradient(180deg, #0D0D0D 0%, #1C1C1C 100%);
  --card-background:rgba(247, 247, 247, 0.1);
  --card-background-hover:rgba(28, 28, 28, 0.2);
  --card-border: #666666;
}

.send-email {
  width: fit-content;
  position: relative;
  display: inline-block;
}

.send-email .demo-button {
  position: absolute;
  transform: translateX(-102%);
  top: 5.5%;
  padding: 1.75rem 1.8rem;
  white-space: nowrap;
}

.demo-button:hover {
  background-color: rgba(217, 217, 217, 0.2);
  text-shadow: 0 0 3rem #fff;
}

.email-input {
  padding: 2.2rem 2.4rem;
  border: 1px solid #d3cfcf;
  border-radius: 20rem;
  background-color: var(--card-background);
  color: var(--text);
  width: 100%;
  padding-right: 30rem;
  box-sizing: border-box;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;   
}

.separator, .separator2{
  width: 10rem;
  height: 0.1rem;
  background-image: linear-gradient(90deg,rgb(0, 0, 0) 0%, #5151E5 100%);
}

.title-problem{
  weight: 900;
  font-size: 1.2rem;
  white-space: nowrap;
}

.separator2{
  background-image: linear-gradient(-90deg,rgb(0, 0, 0) 0%, #5151E5 100%);
}

@media (max-width: 768px) {
  .send-email {
    width: 100%;
    position: relative;
    display: block;
  }

  .send-email .demo-button {
    width: 98%;
    border-radius: 0.9rem;
    transform: translateX(-101%);
    top: auto;
    bottom: 0.35rem;
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .email-input {
    width: 100%;
    padding-right: 0;
    border-radius: 1.2rem;
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 5.5rem;
  }
}